<section class="hero is-primary">
<div class="hero-body">
<div class="columns">
<div class="column is-12">
<div class="container content">

  <h1 class="title">
    <%= image_tag asset_path('brand.svg'), class: "title-icon mr-3" %>
    Journal App
  </h1>

  <h3 class="subtitle">
    Never miss any moment
  </h3>

</div>
</div>
</div>
</div>
</section>