<section class="container is-flex is-justify-content-space-between">
  <div>
    <h1 class="is-size-3 has-text-light">
      Hi 
      <span class="has-text-weight-medium">
        <%= current_user.first_name %>
      </span>!
    </h1>
  </div>  

  <div>
    <%= link_to home_dashboard_path, class: "button is-light ml-1" do %>
      <i class="fas fa-clipboard-list mr-3"></i> Dashboard
    <% end %>
    <%= link_to categories_new_path, class: "button is-light ml-1" do %>
      <i class="fas fa-plus mr-3"></i> Journal
    <% end %>
    <%= link_to home_new_task_path, class: "button is-light ml-1" do %>
      <i class="fas fa-plus mr-3"></i> Task
    <% end %>
  </div>
</section>