<section class="hero banner-custom">
<div class="hero-body">
<div class="columns">
<div class="column is-12">
<div class="container content">

  <h1 class="title title-custom has-text-primary-light">
    <span class="title title-brand has-text-primary-light">
        <%= image_tag asset_path('brand.svg'), class: "title-icon mr-3" %>
        Journal App
    </span>
    <span>
      <i class="far fa-calendar-alt"></i> <%= date_full_words Time.now %>
    </span>
  </h1>

</div>
</div>
</div>
</div>
</section>