
<div class="field">
<div class="control has-icons-left has-icons-right">

  <%= form.text_field :name, placeholder: "Journal Name", class: "input is-medium is-info", maxlength: 20, autocomplete: 'off' %>
  <span class="icon is-left">
    <i class="fas fa-book-open"></i>
  </span>
  <span class="icon is-right">
    <i class="fas fa-check"></i>
  </span>

</div>
</div>



<div class="field">
<div class="control">

    <%= form.text_area :description, placeholder: "Journal Description", class: "textarea is-info has-fixed-size", maxlength: 100, minlength: 10, autocomplete: 'off' %>

</div>
</div>



<div class="field">
<div class="control">

  <%= link_to categories_path, class: "button is-warning" do %>
    <i class="fas fa-undo-alt mr-3"></i> Cancel
  <% end %>

  <%= form.button class: "button is-info" do %>
    <i class="fas fa-plus mr-3"></i> Create Journal
  <% end %>

</div>
</div>