<%= render 'components/navigation' %>

<h1>CATEGORY NEW FORM</h1>

<%= form_with scope: :category do |f| %>
    <%= render 'category/form_fields', form: f %>
<% end %>

<%= render 'components/footer' %>