.tile-status {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: x-small !important;
  border-radius: 15px;
}

.tile-status > .has-text-success-dark {
  color: white !important;
}

.completed-true {
  border: 2px solid hsl(141, 71%, 48%) !important;
}

.completed-false {
  border: 2px solid hsl(48, 100%, 67%) !important;
}