.tile-status {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: x-small !important;
  border-radius: 15px;
}

.tile-status > .has-text-success-dark {
  color: white !important;
}

.completed-success {
  border: 2px solid hsl(141, 71%, 48%) !important;
}

.completed-warning {
  border: 2px solid hsl(48, 100%, 67%) !important;
}

.completed-danger {
  border: 2px solid #f14668 !important;
}

.completed-light {
  border: 2px solid whitesmoke !important;
}