<section class="container container-content mt-6">
<div class="columns">

  <div class="column is-6 container-left">
    <%= image_tag :'index.svg'  %>
  </div>

  <div class="column is-6 container-right is-flex is-justify-content-center is-align-items-flex-start">
    <h1 class="is-size-1 has-text-weight-bold">Satisfy</h1>
    <p class="is-size-4 mb-6">
      Organize your thoughts.<br/> Satisfy your inner self. <br/> Enjoy accomplishing your tasks eveyday!
    </p>
    <p>
      <%= (link_to 'Start Now!', new_user_registration_path, class: 'button is-info') unless current_user.present? %>
      <%= (link_to 'Start Now!', home_dashboard_path, class: 'button is-info') if current_user.present? %>
    </p>
  </div>

</div>
</section>