.container-left,
.container-right {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.container-right {
  flex-direction: column;
}

.container-left img,
.container-right form,
.container-right .container-errors  {
  width: 75%;
  height: auto;
}