<button 
  title="Delete Category" 
  class="button is-danger has-text-light m-2"
  data-controller="deletecategory"
  data-deletecategory-target="category"
  data-action="click->deletecategory#delete_category"
  data-id="<%= category.id %>"
  data-name="<%= category.name %>"
>
  <i class="far fa-trash-alt mr-3"></i> Confirm
</button>