<button 
  title="Delete Task" 
  class="button is-danger has-text-light m-2"
  data-controller="deletetask"
  data-deletetask-target="task"
  data-action="click->deletetask#delete_task"
  data-tid="<%= task.id %>"
  data-name="<%= task.name %>"
>
  <i class="far fa-trash-alt mr-3"></i> Confirm
</button>