
.footer__wave {
  display: block;
  width: 100%;
  height: 100px;
  max-height: 100px;
  margin: 0;
  bottom: 100;
  position: absolute;
  left: 0px;
  float: left;
}

.parallax1>use {
  animation: move1 10s linear infinite
}

.parallax1>use:nth-child(1) {
  animation-delay: -2s
}

.parallax2>use {
  animation: move2 8s linear infinite
}

.parallax2>use:nth-child(1) {
  animation-delay: -2s
}

.parallax3>use {
  animation: move3 6s linear infinite
}

.parallax3>use:nth-child(1) {
  animation-delay: -2s
}

.parallax4>use {
  animation: move4 4s linear infinite
}

.parallax4>use:nth-child(1) {
  animation-delay: -2s
}

@keyframes move1 {
  0% {
    transform: translate(85px, 0%)
  }

  100% {
    transform: translate(-90px, 0%)
  }
}

@keyframes move2 {
  0% {
    transform: translate(-90px, 0%)
  }

  100% {
    transform: translate(85px, 0%)
  }
}

@keyframes move3 {
  0% {
    transform: translate(85px, 0%)
  }

  100% {
    transform: translate(-90px, 0%)
  }
}

@keyframes move4 {
  0% {
    transform: translate(-90px, 0%)
  }

  100% {
    transform: translate(85px, 0%)
  }
}