@import './variables.scss';

nav.navbar {
  background-color: transparent !important;
  height: 6rem !important;
  box-shadow: none !important;
}

.title-icon {
  width: 60px;
  height: 100%;
}

.title-custom {
  display: flex;
  justify-content: space-between;
}

.content h1 {
  margin-bottom: 0px !important;
}

.title-brand {
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
}

a.navbar-item {
  transition: background-color 250ms ease-in-out;
}

a.navbar-item:hover,
a.navbar-item:focus-within {
  background-color: darken($color: $orange-dark, $amount: 5) !important;
}

a.navbar-item.disable-hover:hover {
  background-color: transparent !important;
  color: $orange-dark;
}

a.navbar-item.has-text-primary-light.title-text:hover {
  color: #dbdbdb !important;
  background-color: transparent !important;
}

div.dropdown div.dropdown-trigger button {
  background-color: transparent;
  border: none;
}

#dropdown-menu4 {
  left: -18px !important;
}