.title-icon {
  width: 30px;
  height: 30px;
}

.title-custom {
  display: flex;
  justify-content: space-between;
}

.content h1 {
  margin-bottom: 0px !important;
}

.title-brand {
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
}