$info: #53354a;
$orange-blue: #53354a;
$orange-dark: #a64942;
$orange: #ff7844;

::placeholder {
  color: rgba($color: white, $alpha: 0.5) !important
}

@import 'bulma/bulma';
@import 'toastr/build/toastr.min';

html {
  background-color: #1b1f3a;
}

body {
  background-image: url('wave.svg');
  background-repeat: no-repeat;
  color: #ececec;
  font-family: 'Poppins', sans-serif !important;
}

.container-content {
  min-height: 500px;
}

.tile-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tile-item {
  cursor: pointer;
  min-height: 250px !important;
}

.tile-item,
.tile-item .is-child {
  background-color: $orange-blue !important;
}

.tile-actions {
  display: flex;
  justify-content: flex-end;
}

.action-tile-button {
  background-color: transparent !important;
}

.action-tile-button:focus {
  box-shadow: none !important;
}

.notification {
  padding: 1.25rem !important;
}

.is-secondary {
  background-color: transparent;
  border-color: $info;
  color: white;
}

.is-secondary:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.is-secondary:hover {
  color: $info !important;
  border-color: transparent;
}

.has-text-primary {
  color: $orange !important;
}

.is-shady {
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}

.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 
              0 6px 6px rgba(0, 0, 0, .19);
}

.is-child {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.has-background-info-dark {
  background-color: $orange !important
}

.maximize {
  min-height: 540px;
}

.when-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.when-empty img {
  width: 30%;
}

div.field div.control input,
div.field div.control select,
div.field div.control textarea {
  background-color: $info;
  border-color: $info;
  color: white;
}

div.field div.control input:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.control.has-icons-right .input:focus ~ .icon {
  color: white;
}

.footer__wave {
  display: block;
  width: 100%;
  height: 100px;
  max-height: 100px;
  margin: 0;
  bottom: 100;
  position: absolute;
  left: 0px;
  float: left;
}

.parallax1>use {
  animation: move1 10s linear infinite
}

.parallax1>use:nth-child(1) {
  animation-delay: -2s
}

.parallax2>use {
  animation: move2 8s linear infinite
}

.parallax2>use:nth-child(1) {
  animation-delay: -2s
}

.parallax3>use {
  animation: move3 6s linear infinite
}

.parallax3>use:nth-child(1) {
  animation-delay: -2s
}

.parallax4>use {
  animation: move4 4s linear infinite
}

.parallax4>use:nth-child(1) {
  animation-delay: -2s
}

@keyframes move1 {
  0% {
    transform: translate(85px, 0%)
  }

  100% {
    transform: translate(-90px, 0%)
  }
}

@keyframes move2 {
  0% {
    transform: translate(-90px, 0%)
  }

  100% {
    transform: translate(85px, 0%)
  }
}

@keyframes move3 {
  0% {
    transform: translate(85px, 0%)
  }

  100% {
    transform: translate(-90px, 0%)
  }
}

@keyframes move4 {
  0% {
    transform: translate(-90px, 0%)
  }

  100% {
    transform: translate(85px, 0%)
  }
}