@import 'bulma/bulma';
@import 'toastr/build/toastr.min';

html {
  background-color: #EFF3F4;
}

body {
  background-image: url('wave.svg');
  background-repeat: no-repeat;
}

.container-content {
  min-height: 500px;
}